name: USA Lead Bot

on:
  schedule:
    - cron: '30 13 * * *' # Har din shaam 7:00 PM IST (USA Morning) par chalega
  workflow_dispatch:      # Manual button run karne ke liye

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: |
          pip install playwright requests
          playwright install chromium

      - name: Start Scraping
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python scraper.py
